/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background: #eeeeee !important;
  font-size: 16px;
}

* {
  font-family: "Open Sans", sans-serif;
}

/* h1,h2,h3,h4,h5 {
  font-family: "Open Sans", sans-serif;
} */

.topbar > div {
  height: 38px;
}

.central-page {
  padding-top: 38px;
  display: grid;
  grid-template-columns: 255px auto 190px;

  @media screen and (max-width: 1140px) {
    grid-template-columns: 255px auto;

    > div:last-of-type {
      display: none;
    }
  }
}

.page {
  scrollbar-width: none;
}

.page * + * {
  margin: 15px 0;
}

.page h1 {
  font-size: 1.8rem;
}

.page h2 {
  font-size: 1.4rem;
}

.page blockquote {
  padding: 15px;
  background: #e0e0e0;
  border-radius: 0 5px 5px 0;
  margin: 10px 0;
  border-left: 3px solid #4183c4;
}

.page label {
  cursor: pointer;
  color: #4183c4;
  font-family: monospace;
}

.page::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 767px) {
  .central-page {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: none;
  }
}

.page-header {
  font-size: 1.8rem;
}
